body{
background-color: azure;
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: aquamarine;
align-items: center;
justify-content: space-around;
padding: 20px;
display: flex;
}

h1{
color: aliceblue;
font-size: 30px;
}

input{
width: 100px;
height: 10px;
}

button{
background-color: darkgray;
width: 50px;
border-radius: 30px;
}