body{
background-color: rgb(255, 215, 214)55, 240, 240);
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: rgb(255, 150, 150);
align-items: center;
justify-content: space-around;
padding: 20px;
display: flex;
}

h1{
color: aliceblue;
font-size: 30px;
}

input{
width: 400px;
height: 30px;
}

button{
background-color: darkgray;
width: 150px;
border-radius: 30px;
}

main{
    padding: 20px;
    margin: 40px;
    background-color: crimson;
    border-radius: 10px;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    margin: 20px;
    padding: 30px;
}

p{
   width: 400px; 
}

img{
    width: 400px;
}

section button{
background-color: darkred;
color: antiquewhite;
height: 100px;
width: 250px;
font-size: 30px;
}